body{
    background-color: #e4ebf4;
}

h1,h2{
    text-align: center;
}

img{
    float: left;
    margin-right: 100px;
}

.list{
    margin-top: 300px;
    width:900px;
    margin: 300px auto;
}

.container1{
    width: 900px;
    margin: auto;
    color: white;
    margin-bottom: -220px;
}

.list1{
    float: left;
    margin-right: 80px;

}
 .list2{
    margin-top: 40px;

 }

 .steps{
    margin-top: -200px;
    width: 900px;
    margin: -200px auto;
 }

 .para{
    background-color: #fc374e;
    padding: 68px 40px;
    width:350px;
    margin-left: 450px;
 }

 ul{
    list-style:none;
 }

.list1 li{
    background-color: #fc374e;
    margin-bottom: 10px;
}
 