body{
    background-color: #1C2429;
}

h1{
    text-align: center;
    color: white;
    font-size: 40px;
}

a{ 
    text-decoration: none;
    color:black;
    font-size: 25px;
}

.link{
    background-color: rgb(255,234,0); 
    text-align: center;
    padding: 40px;
    margin: 10px;
    border-radius: 55px;
    list-style: none;
}


