body{
    background-color: #1C2429;
}

h1{
    text-align: center;
    color: white;
}

a{
    background-color: rgb(255, 234, 0); 
    text-decoration: none;
    color:black;
}

.link{
    text-align: center;
    padding: 40px;
    margin: 10px;
}

div{
   background-color: rgb(255,234,0); 
}
